#map {position: absolute; height: 100%; width: 100%; top: 0; left: 0;}
.l-map {
  position: relative;
  width: 100%;
  height: 100vh;
}

.dashboard-form {
  padding: 20px;
}

.dashboard-form textarea {
  min-height: 500px;
}